<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shiyuan.mapper.MealmapMapper">
  <resultMap id="BaseResultMap" type="com.shiyuan.model.Mealmap">
    <id column="mealmap_id" jdbcType="BIGINT" property="mealmapId" />
    <result column="meal_id" jdbcType="BIGINT" property="mealId" />
    <result column="commodity_id" jdbcType="BIGINT" property="commodityId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mealmap_id, meal_id, commodity_id
  </sql>
  <select id="selectByExample" parameterType="com.shiyuan.model.MealmapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mealmap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mealmap
    where mealmap_id = #{mealmapId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from mealmap
    where mealmap_id = #{mealmapId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.shiyuan.model.MealmapExample">
    delete from mealmap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.shiyuan.model.Mealmap">
    insert into mealmap (mealmap_id, meal_id, commodity_id
      )
    values (#{mealmapId,jdbcType=BIGINT}, #{mealId,jdbcType=BIGINT}, #{commodityId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.shiyuan.model.Mealmap">
    insert into mealmap
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mealmapId != null">
        mealmap_id,
      </if>
      <if test="mealId != null">
        meal_id,
      </if>
      <if test="commodityId != null">
        commodity_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mealmapId != null">
        #{mealmapId,jdbcType=BIGINT},
      </if>
      <if test="mealId != null">
        #{mealId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null">
        #{commodityId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.shiyuan.model.MealmapExample" resultType="java.lang.Long">
    select count(*) from mealmap
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mealmap
    <set>
      <if test="record.mealmapId != null">
        mealmap_id = #{record.mealmapId,jdbcType=BIGINT},
      </if>
      <if test="record.mealId != null">
        meal_id = #{record.mealId,jdbcType=BIGINT},
      </if>
      <if test="record.commodityId != null">
        commodity_id = #{record.commodityId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mealmap
    set mealmap_id = #{record.mealmapId,jdbcType=BIGINT},
      meal_id = #{record.mealId,jdbcType=BIGINT},
      commodity_id = #{record.commodityId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.shiyuan.model.Mealmap">
    update mealmap
    <set>
      <if test="mealId != null">
        meal_id = #{mealId,jdbcType=BIGINT},
      </if>
      <if test="commodityId != null">
        commodity_id = #{commodityId,jdbcType=BIGINT},
      </if>
    </set>
    where mealmap_id = #{mealmapId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shiyuan.model.Mealmap">
    update mealmap
    set meal_id = #{mealId,jdbcType=BIGINT},
      commodity_id = #{commodityId,jdbcType=BIGINT}
    where mealmap_id = #{mealmapId,jdbcType=BIGINT}
  </update>
</mapper>